extends layout

block content
  //h1= title
  //p Welcome to #{title}
  br
  .row
    .col-md-2
    div.col-md-8(ng-controller = "BooksController", ng-cloak)
      input(type='text', ng-model = 'buscar',placeholder = "Buscar...")
      div(ng-repeat="book in books | filter: buscar", ng-hide="book.agotado")
        .row
        .col-md-6
          img.img-responsive.container(ng-src="{{book.images }}")
        .col-md-6
          section(ng-controller="PanelController")
              ul.nav.nav-tabs
                li(role="presentation",ng-class="{active:isSelected(1)}")
                  a(ng-click="selecTab(1)", href='') Descripcion
                li(role="presentation",ng-class="{active:isSelected(2)}")
                  a(ng-click="selecTab(2)", href='') Especificaciones
                li(role="presentation",ng-class="{active:isSelected(3)}")
                  a(ng-click="selecTab(3)", href='') Comentarios
              br

              .panel(ng-show="isSelected(1)")
                  h4 Descripcion
                  p  {{book.descripcion }}
                   // p {{book.autor }} - {{ book.precio |currency :"USD $":0 }} 
               .panel(ng-show="isSelected(2)")   
                  h4 Especificaciones
                  blockquote Nada aun
              
               .panel(ng-show="isSelected(3)")  
                  h4 Comentarios
                  form(name='reviewForm',ng-controller="ReviewController"
                    ng-submit="reviewForm.$valid && submit()" novalidate)
                   
                    blockquote(ng-repeat="comentarios in book.comentarios") 
                      b{{comentarios.cuerpo}}
                      p{{comentarios.estrellas}}
                      cite Por: {{comentarios.autor}}
                    select.form-control(ng-model="model.estrellas" required name="estrellas")
                          option(value='' selected disabled) Selecciona la Calificacion
                          option(value='1') 1 Estrella
                          option(value='2') 2 Estrellas
                          option(value='3') 3 Estrellas
                          option(value='4') 4 Estrellas
                          option(value='5') 5 Estrellas
                    div(ng-messages="reviewForm.estrellas.$error" ng-if="reviewForm.estrellas.$dirty")
                      span.help-block(ng-message= "required") Este campo es obligatorio
                    br
                    textarea.form-control(rows='3' placeholder='Escriba un corto comentario acerca del Libro' ng-model="model.cuerpo" name="cuerpo" required) 
                    div(ng-messages="reviewForm.cuerpo.$error" ng-if="reviewForm.cuerpo.$dirty")
                      span.help-block(ng-message= "required") Este campo es obligatorio
                    br
                    //input.form-control(type="number" rows='3',placeholder='Escriba un numero', min=10 max=999   ng-model="model.cantidad" name="cantidad" required) 
                    //div(ng-messages="reviewForm.cantidad.$error" ng-if="reviewForm.cantidad.$dirty")
                      span.help-block(ng-message = "required") Este campo es obligatorio
                      span.help-block(ng-message = "number") Este campo solo acepta valores numericos
                      span.help-block(ng-message = "min") Digite un valor mayor a 9
                      span.help-block(ng-message = "max") Digite un valor menor a 1000

                    input.form-control(placeholder='Escriba su nombre' ng-minlenght="2" ng-maxlenght="10"   ng-model="model.nombre" name="nombre" required) 
                    div(ng-messages="reviewForm.nombre.$error" ng-if="reviewForm.nombre.$dirty")
                      span.help-block(ng-message = "required") Este campo es obligatorio
                      span.help-block(ng-message = "minlenght") Nombre muy corto
                      span.help-block(ng-message = "maxlenght") nombre muy largo
                      span.help-block(ng-message = "pattern") Digite solo caracteres

                    br
                    .input-group
                      span.input-group-addon Por:
                      input.form-control(type='email',name="autor", placeholder='Digite correo electronico',ng-model="model.autor"  required)
                    div(ng-messages="reviewForm.autor.$error" ng-if="reviewForm.autor.$dirty")
                      span.help-block(ng-message= "required") Este campo es obligatorio  
                    br
                    //button.btn.btn-default(type='submit') Agregar Comentario
                    input.btn.btn-primary(type='submit', value='Agregar Comentario', ng-disabled="!reviewForm.$valid")

            
          br 
        
               
        hr
    
     // p Mensaje: {{ msg }}
    .col-md-2
      
  hr
  
  //br
  //br
  //p {{ msg }}
  //br
  //input(type ='text', ng-model='msg')
  //button.btn-primary#btn(type="button", ng-click='msg="Hola"') submit
    
