extends layout

block content
  //h1= title
  //p Welcome to #{title}

  .row
    .col-md-2
    div.col-md-8(ng-controller = "BooksController", ng-cloak)
      input(type='text', ng-model = 'buscar',placeholder = "Buscar...")
      div( ng-repeat="book in books | filter: buscar", ng-hide="book.agotado")
        h1 {{book.name }}
        h3 {{book.autor }} - {{ book.precio |currency :"USD $":0 }} 
        p  {{book.descripcion }}
        button.btn.btn-primary(type="button", ng-if="book.canPurchase") Comprar
        hr
    
     // p Mensaje: {{ msg }}
    .col-md-2
    
  hr
  //br
  //br
  //p {{ msg }}
  //br
  //input(type ='text', ng-model='msg')
  //button.btn-primary#btn(type="button", ng-click='msg="Hola"') submit
    
