doctype html
html(ng-app="AngularApp")
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/vendor.min.css')
  body(style='margin-top: 20px;')
    block content
    script(src='/javascripts/vendor.min.js')
    script(src='/javascripts/playlist.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controller.js')
    script(src='/javascripts/controller_1.js')